/* Aggiungi l'effetto di zoom quando si passa sopra la card */
.product-card {
    position: relative;
    overflow: hidden; /* Nascondi l'overflow per evitare che l'immagine esca dai confini */
}

.product-image {
width: 100%;
height: auto;
max-height: 60vh; /* Limita l'altezza massima per evitare che l'immagine occupi troppo spazio */
object-fit: contain; /* Usa "cover" se preferisci che l'immagine riempia tutto lo spazio */
transition: transform 0.3s ease-in-out; /* Transizione fluida per l'effetto di zoom */
}

.product-card:hover .product-image {
transform: scale(1.2); /* Ingrandisci l'immagine al 120% */
}